@model AppVendasWeb.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h4 class="display-6 textClass">Detalhes do Cliente</h4>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CadastroAtivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CadastroAtivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="textClass text-decoration-none me-3">
        <svg bootstrap-icon="Arrow90DegLeft" width="13" height="13" aria-label="Adicionar" class="me-1"></svg>
        Voltar
    </a>
    <a asp-action="Edit" asp-route-id="@Model?.ClienteId" class="text-decoration-none btn bttnClass justify-content-center">
        <svg bootstrap-icon="PencilFill" width="14" height="14" aria-label="Adicionar" class="me-2"></svg>
        Editar
    </a>
</div>
