@model IEnumerable<AppVendasWeb.Models.Cliente>

@{
    ViewData["Title"] = "Cadastro de Clientes";
}
<h3 class="display-6 textoTitulo">Cadastro de Clientes</h3>
<p>
    <a asp-action="Create" class="btn bttnClass align-content-center align-items-center">
        <svg bootstrap-icon="PlusLg" width="20" height="20" aria-label="Adicionar" class="me-3"></svg>Novo Cliente
    </a>
</p>

<div>
<form method="post" asp-action="Search">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchString" placeholder="Pesquisar por nome" aria-label="Pesquisar por nome" aria-describedby="button-addon2">
            <button class="btn btn-outline-light" type="submit" id="button-addon2">
                <svg bootstrap-icon="Search" width="16" height="16" aria-label="Pesquisar"></svg>
            </button>
    </div>
</form>
</div>

<hr />
<div class="table-responsive">
    <table class="table bg-transparent textoCor">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteNome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </th>
                <th>
                    Cadastro Ativo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClienteNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td class="text-end">
                        @Html.DisplayFor(modelItem => item.CadastroAtivo)
                        <a asp-action="Edit" asp-route-id="@item.ClienteId" class="text-decoration-none textoCor">
                            <svg bootstrap-icon="PencilFill" width="14" height="14" aria-label="Adicionar" class="me-2"></svg>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.ClienteId" class="text-decoration-none textoCor">
                            <svg bootstrap-icon="CardList" width="14" height="14" aria-label="Adicionar" class="me-2"></svg>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.ClienteId" class="text-decoration-none textoCor">
                            <svg bootstrap-icon="Trash2" width="14" height="14" aria-label="Adicionar" class="me-2"></svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
